<%= form_for @cuisine do |f| %>

<div class="form-group">
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<%= f.submit 'Enviar', class: 'btn btn-default' %>
<% end %>
