<h1>Cozinha: <%= @cuisine.name %></h1>

<% if @cuisine.recipes.empty? %>
  Nenhuma receita encontrada para este tipo de cozinha
<% end %>

<% @cuisine.recipes.each do |recipe| %>
  <%= render recipe %>
<% end %>

<%= link_to 'Editar', edit_cuisine_path(@cuisine) %>
<%= link_to 'Voltar', root_path %>
