<div class="navbar-form navbar-right">
  <%= form_tag search_path do %>
    <%= label_tag :search_text, 'Busca' %>
    <%= text_field_tag :search_text %>
    <%= submit_tag 'Buscar' %>
  <% end %>
</div>
