<aside>
  <div class="cuisines-box">
    <h3>Cozinha</h3>
    <ul class="cuisines">
      <% @cuisines.each do |cuisine| %>
        <li><%= link_to cuisine.name, cuisine_path(cuisine) %></li>
      <% end %>
    </ul>
  </div>

  <div class="recipe-type-box">
    <h3>Tipo</h3>
    <ul class="recipe_type">
      <% @recipe_types.each do |recipe_type| %>
        <li><%= link_to recipe_type.name, recipe_type_path(recipe_type) %></li>
      <% end %>
    </ul>
  </div>
</aside>

<main>
  <div class="recipes">
    <div>
    <% @recipes.each do |recipe| %>
     <%= render recipe %>
    <% end %>
   </div>
</div>
</main>
