  <h1>CookBook</h1>
  <p>Bem-vindo ao maior livro de receitas online</p>

  <%= link_to 'Enviar uma receita', new_recipe_path%>

    <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <% end %>

    <% @cuisines.each do |cuisine| %>
      <%= link_to cuisine.name, cuisine_path(cuisine) %>
    <% end %>
