  <h1>CookBook</h1>
  <p>Bem-vindo ao maior livro de receitas online</p>

  <%= link_to 'Enviar uma receita', new_recipe_path%>

    <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <% end %>

<h2>Busca de Receitas por cozinha</h2>

    <% @cuisines.each do |cuisine| %>
    <ul>
      <li><%= link_to cuisine.name, cuisine_path(cuisine) %></li>
    </ul>
    <% end %>

<h3>Busca de receitas por tipo</h3>

  <% @recipe_types.each do |recipe_type| %>
  <ul>
    <li><%= link_to recipe_type.name, recipe_type_path(recipe_type) %></li>
  </ul>
<% end %>
